<header class="navigation">
    <div class="navigation-wrapper">
        <a href="/" class="logo">
            <div></div>
        </a>
        <a href="" class="navigation-menu-button icon-menu" id="js-mobile-menu"></a>
        <div class="nav">
            <ul id="navigation-menu">
                <li class="nav-link"><a href="/">Новое</a></li>
                <li class="nav-link"><a href="/archive/">Архив</a></li>
                <li class="nav-link"><a href="/geo/">Регионы</a></li>
                <li class="nav-link"><a href="/contact/">Связь</a></li>

            </ul>


        </div>
        <div class="navigation-tools">
            <div class="search-bar">
                <div class="search-and-submit">
                    <input type="search" placeholder="Поиск" class="search-input" />
                </div>
            </div>
        </div>
    </div>
</header>
