{% unless site.debug %}
    {% include ga.html %}
{% endunless %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<!-- JS -->
<!-- build:js /assets/javascript/all.min.js -->
<script src="/assets/javascript/nav.js"></script>
<!-- endbuild -->

{% assign local_scripts = page.scripts | local_urls %}
{% assign remote_scripts = page.scripts | remote_urls %}

{% for script in remote_scripts %}
<script type="text/javascript" src="{{ script }}"></script>
{% endfor %}

<!-- JS -->
<!-- build:js /assets/javascript/c.min.js -->
{% for script in local_scripts %}
<script type="text/javascript" src="{{ script }}"></script>
{% endfor %}
<!-- endbuild -->

{% contentblock scripts %}




