**/.idea/
/src/bower_components/

gulpfile_old.js

node_modules

/serve/

/site/



/.idea

.idea

/node_modules

/serve

/site

/src/assets/images/src

/src/assets/stylesheets

/src/bower_components

/static

/.awspublish-new.gaziga.com

/exported/

/src/.jekyll-metadata

/src/_drafts/

/tools/gcmd/.bundle/install.log

/tools/

/npm-debug.log
